<!-- Navbar -->
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
		{% endblock %}
<nav
	class="navbar navbar-light navbar-expand-lg gradient-custom navb">

	<!-- Container wrapper -->
	<div
		class="container-fluid">
		<!-- Navbar brand -->
		<a class="navbar-brand" href=""><img src="{{ asset('images/sq.png') }}" alt="" style="width: 40px;"></a>

		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible wrapper -->
		<div
			class="collapse navbar-collapse" id="navbarSupportedContent">


			<!-- Right links -->
			<ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
				<li class="nav-item text-center mx-2 mx-lg-1">
					<a title="Notifications des CV" class="nav-link mt-1" href="#">
						<div>
							<img src="https://img.icons8.com/material-rounded/35/000000/appointment-reminders.png" class="w-50">
							<span class="badge rounded-pill badge-notification bg-danger">7</span>
						</div>
					</a>
				</li>
				<li class="nav-item text-center mx-2 mx-lg-1">
					<a title="Paramètres" class="nav-link ms-3 me-4 mt-1" href="{{ path('app_parametres') }}">
						<div>
							<img src="https://img.icons8.com/ios-filled/35/000000/settings.png" class="w-75">
						</div>
					</a>
				</li>
				<li class="nav-item text-center mx-2 mx-lg-1 logout">
					<a title="Déconnexion" class="nav-link ms-3 me-4" href="{{ path('app_logout') }}">
						<div>
							<img src="https://img.icons8.com/fluency-systems-regular/35/undefined/exit.png"/>Déconnexion
						</div>
					</a>
				</li>
			</ul>
			<!-- Right links -->


		</div>
		<!-- Collapsible wrapper -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
