 label {
     color: aliceblue;
 }
 
 input[type=checkbox] {
     width: 40px;
     height: 35px;
 }
 
 h4 {
     color: purple;
 }
 
 td:first-of-type {
     background-color: rgb(53, 94, 86);
 }
 
 td:nth-child(2) {
     background-color: rgb(206, 238, 234);
 }