<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Login!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.2/font/bootstrap-icons.min.css" integrity="sha512-YzwGgFdO1NQw1CZkPoGyRkEnUTxPSbGWXvGiXrWk8IeSqdyci0dEDYdLLjMxq1zCoU0QBa4kHAFiRhUL3z2bow==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="{{ asset('css/login.css') }}"/>

	</head>
	{% block body %}
		<body
			style="background-color: hsl(0, 0%, 96%)">

			<!-- Section: Design Block -->

			<section
				class="" style="background-color: hsl(0, 0%, 96%)">
				<!-- Jumbotron -->

				<div class=" px-md-5 text-center text-lg-start">
					<div class="container">
						<div class="row gx-lg-5 align-items-center">
							<div class="col-lg-6 mb-5 mb-lg-0" style="margin-top:10%">
								<h1 class="my-1 display-3 fw-bold ls-tight" style="font-family:algerian">
									SQLI
									<br/>
									<span class="text-primary">DIGITAL</span>
									<br/>
									<span class="text-warning">EXPERIENCE</span>
								</h1>
								<p class="text-secondary mt-4">
									Créé en 1990, SQLI est un groupe européen de services digitaux qui accompagne les grandes marques internationales dans la création de valeur par le Digital.
									           Ses équipes créatives et techniques s'engagent à offrir aux clients, consommateurs ou usagers, des expériences inédites et engageantes en s'appuyant sur le meilleur des technologies et méthodologies ainsi que sur leurs compétences et convictions.
									           Elles conçoivent, développent et déploient des architectures solides et performantes qui améliorent l'agilité des entreprises, augmentent leur efficacité et favorisent leur croissance.
								</p>
							</div>

							<div class="col-lg-6 mb-5 mb-lg-0" style="margin-top:10%">
								<div class="card" style="background-color:#CEF2E1 ;border:20px double black;">
									<div class="card-body py-5 px-md-5">
										<form method="post" class="mt-5" novalidate>
											{% if error %}
												<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
											{% endif %}

											{% if app.user %}
												<div class="mb-3">
													You are logged in as
													{{ app.user.userIdentifier }},
													<a href="{{ path('app_logout') }}">Logout</a>
												</div>
											{% endif %}


											<!-- Email input -->
											<div class="form-outline form-floating mb-4">
												<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">
												<label class="form-label" for="inputEmail">Adresse email</label>
											</div>

											<!-- Password input -->
											<div class="form-outline  form-floating mb-4">
												<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
												<label class="form-label" for="form3Example4">Mot de passe</label>
											</div>

											<input
											type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

											<!-- Checkbox -->
											<div class="form-check d-flex justify-content-center mb-4">
												<input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked/>
												<label class="form-check-label" for="form2Example33">
													Gardez-moi connecté
												</label>
											</div>

											<!-- Submit button -->
											<button type="submit" class="btn btn-outline-success btn-block mb-4 col-12">
												Connection
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Jumbotron -->
			</section>
			<!-- Section: Design Block -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
			<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
		</body>
	{% endblock %}
</html>
