<main class="main container-fluid d-flex justify-content-center align-items-center mt-5">
	<div class="row col-12">
		<div class="col-sm-12">
			<table id="example" class="display table" style="width:100%">
				<thead class="bg-success">
					<tr>
						<th>Collaborateur</th>
						<th>Date d'entrée</th>
						<th>Expérience</th>
						<th>Mission en cours</th>
						<th>Fin mission</th>
						<th>CV</th>
						<th>Date dernier CV</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{# This will be
					{% for cv in cvs %}
					            <tr>
					                <td>{{ cv.id }}</td>
					                <td>{{ cv.statusCv }}</td>
					                <td>{{ cv.nomCv }}</td>
					                <td>{{ cv.dateMaj ? cv.dateMaj|date('Y-m-d') : '' }}</td>
					                <td>{{ cv.versionCv }}</td>
					                <td>{{ cv.commentaire }}</td>
					                <td>
					                   <b> if -></b> <i class="fa-solid fa-arrows-rotate"></i>
					                    <b>else -></b>  <i class="fa-solid fa-folder-magnifying-glass"></i>
					                    <a href="{{ path('app_cv_', {'id': cv.id}) }}"> <i class="fa-solid fa-at"></i></a>
					                   <a href="{{ path('app_param') }}"><i class="fa-solid fa-align-justify"></i></a>
					                    <a href="{{ path('app_collaborateur') }}"> <i class="fa-solid fa-pencil"></i></a>
					                </td>
					            </tr>
					        {% else %}
					            <tr>
					                <td colspan="7">no records found</td>
					            </tr>
					        {% endfor %}
					#}
					<tr>
						<td>Siham Lakhal</td>
						<td>01/02/2007</td>
						<td>15 ans 1 mois</td>
						<td>Cdiscount</td>
						<td></td>
						<td>FR -
							<a href="" title="Télécharger CV"><img src="{{ asset('images/downloading_updates_24px.png') }}" alt="" style="width: 20px;"></a>
						</td>
						<td>28/03/2022</td>
						<td>
							<a href="#">
								<i class="text-success fa-solid fa-arrows-rotate" title="Actualiser CV"></i>
							</a>
							<a href="#" title="Notifier Collaborateur">
								<i class="fa-solid fa-at jaune"></i>
							</a>
							<a href="#" title="Afficher l'historique de CV">
								<i class="fa-solid fa-align-justify viole"></i>
							</a>
							<a href="{{ path('app_collaborateur_new') }}" title="Editer Collaborateur">
								<i class="fa-solid fa-pencil verte"></i>
							</a>
						</td>
					</tr>
					<tr>
						<td>SihamLakhal</td>
						<td>01/02/2007</td>
						<td>15 ans</td>
						<td>Cdiscount</td>
						<td></td>
						<td id="en">EN -
						</td>
						<td>28/03/2022</td>
						<td>
							<a href="" title="importer CV"><img src="{{ asset('images/search_folder_24px.png') }}" alt="" style="width: 20px;"></a>
							<a href="">
								<i class="fa-solid fa-at jaune"></i>
							</a>
							<a href="#">
								<i class="fa-solid fa-align-justify viole"></i>
							</a>
							<a href="{{ path('app_collaborateur_new') }}">
								<i class="fa-solid fa-pencil verte"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
