{{ form_start(form) }}
<div class="form-group row">
	<div class="col-3 m-3">
		{{ form_widget(form.statusCv, {'attr': {'class': 'form-control form-control','placeholder':'Status du CV'}}) }}
	</div>
	<div class="col-3 m-3">
		{{ form_widget(form.dateMaj, {'attr': {'class': 'form-control form-control ','placeholder':'Date mise à jour'}}) }}
	</div>
</div>
<div class="form-group row">
	<div class="col-3 mt-3 mx-3">
		{{ form_widget(form.versionCv, {'attr': {'class': 'form-control form-control', 'placeholder':'Version'}}) }}
	</div>
</div>
<div class="form-group d-flex flex-row-reverse m-2">
	<button class="btn btn-outline-success form-control-sm ">{{ button_label|default('Rechercher') }}</button>
</div>

{{ form_end(form) }}
