{% extends 'base.html.twig' %}

{% block title %}New Cv
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dataTable.css') }}"/>
{% endblock %}
{% block body %}
	{% block breadcrumb %}
		<nav class="navbar navbar-light bg-light border" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a>Liste des CV</a>
				</li>
			</ol>
		</nav>
	{% endblock %}


	<div class="bg-light border border-success m-5">
		{{ include('curriculumvitae/_form.html.twig') }}
	</div>
	<div class="m-3">
		<div class="align-item-center">
			<div class="d-flex flex-row-reverse m-4 mx-5">
				<a href="{{ path('app_collaborateur_new')}}" title="ajouter collaborateur">
					<img src="{{ asset('images/add_user_male_35px.png') }}" alt="ajouter collaborateur" class="">

				</a>
				<a class="mx-4" href="{{ path('app_certificat')}}" title="liste des certificat">
					<img src="{{ asset('images/certif_35px.png') }}" alt="liste des certificats">

				</a>
			</div>
		</div>

		{{ include('curriculumvitae/_dataTable.html.twig') }}
	</div>


{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/DataTable.js') }}"></script>
{% endblock %}
