{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}
    <h1>Mission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomMission</th>
                <th>DateDebutMission</th>
                <th>DateFinMission</th>
                <th>DescriptionMission</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.nomMission }}</td>
                <td>{{ mission.DateDebutMission ? mission.DateDebutMission|date('Y-m-d') : '' }}</td>
                <td>{{ mission.DateFinMission ? mission.DateFinMission|date('Y-m-d') : '' }}</td>
                <td>{{ mission.DescriptionMission }}</td>
                <td>
                    <a href="{{ path('app_mission_show', {'id': mission.id}) }}">show</a>
                    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mission_new') }}">Create new</a>
{% endblock %}
