{% extends 'base.html.twig' %}

{% block title %}Mission{% endblock %}

{% block body %}
    <h1>Mission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mission.id }}</td>
            </tr>
            <tr>
                <th>NomMission</th>
                <td>{{ mission.nomMission }}</td>
            </tr>
            <tr>
                <th>DateDebutMission</th>
                <td>{{ mission.DateDebutMission ? mission.DateDebutMission|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinMission</th>
                <td>{{ mission.DateFinMission ? mission.DateFinMission|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DescriptionMission</th>
                <td>{{ mission.DescriptionMission }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mission_index') }}">back to list</a>

    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}">edit</a>

    {{ include('mission/_delete_form.html.twig') }}
{% endblock %}
