{% extends 'base.html.twig' %}

{% block title %}Collaborateur{% endblock %}

{% block body %}
    <h1>Collaborateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collaborateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ collaborateur.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ collaborateur.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ collaborateur.email }}</td>
            </tr>
            <tr>
                <th>DateEntree</th>
                <td>{{ collaborateur.dateEntree ? collaborateur.dateEntree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateSortie</th>
                <td>{{ collaborateur.dateSortie ? collaborateur.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ProfilType</th>
                <td>{{ collaborateur.profilType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_collaborateur_index') }}">back to list</a>

    <a href="{{ path('app_collaborateur_edit', {'id': collaborateur.id}) }}">edit</a>

    {{ include('collaborateur/_delete_form.html.twig') }}
{% endblock %}
