{% extends 'base.html.twig' %}

{% block title %}Hello Collaborateur{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/collab.css') }}" />

{% endblock %}

{% block body %}{% block breadcrumb %}
		<nav class="navbar navbar-light bg-light border" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_cv_list') }}">Liste des CV</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a>Editer Collaborateur</a>
				</li>
			</ol>
		</nav>
	{% endblock %}
<main class="m-5">

<h5  class="mt-4 ms-5 " > Informations Collaborateur </h5>
<form id="InfoCollab" class="d-flex ">
<table class="tabel ms-4 border table-bordered" width="50%" >
   <tr>
   <td class="inf ">Nom<span class="etoil">*</span></td>
   <td class="donn"><input class="form-control" type="text">  </td>
   </tr>
    <tr>
   <td class="inf">Prénom<span class="etoil">*</span> </td>
   <td class="donn"><input class="form-control" type="text"> </td>
   </tr>
    <tr>
   <td class="inf">Email<span class="etoil">*</span> </td>
   <td class="donn"><input class="form-control" type="text">  </td>
   </tr>
    <tr>
   <td class="inf">Date d'entrée<span class="etoil">*</span> </td>
   <td class="donn"><input class="form-control" type="date"> </td>
   </tr>
    <tr>
   <td class="inf">Date de sortie </td>
   <td class="donn"><input class="form-control" type="date"> </td>
   </tr>
</table>
<button type="submit" class="ms-5 btn btn-success " id="enregistrer" style="height:38px;margin-top: 164px;"> Enregistrer</button>
</form>

<form id="CVform" class="d-flex">
<table class="tabel ms-4 mt-5 border table-bordered" width="50%" >
   <tr>
   <td class="inf ">CV FR</span></td>
   <td style="text-align: end;"  class="donn">CV_SQLI_SihamLakhal_28032022_FR.docs
       <a class="justify-content-end" href=""><img src="{{ asset('images/downloading_updates_24px.png') }}" alt="" ></a>
   </td>
   </tr>
    <tr>
   <td class="inf">CV EN</span> </td>
   <td class="donn" style="text-align: end;"><a class="pull-left" href=""><img src="{{ asset('images/search_folder_24px.png') }}" alt="" > </a>
</td>
   </tr>
</table>
</form>

<form id="mission">
  <table class="tabel ms-4 mt-5 border table-bordered" width="80%" >
  <tr>
   <th class="bg-success inf ">Projet</span></th>
   <th class="bg-success inf ">Description de la mission</span></th>
   <th class="bg-success inf ">Date début</span></th>
   <th class="bg-success inf ">Date fin</span></th>
   <th class="bg-success inf "></span></th>
  </tr>
  <tr>
   <td class="donn"><input class="form-control" type="text" id="" name=""></span></td>
   <td class="donn"><input class="form-control" type="text" id="" name=""></span></td>
   <td class="donn"><input class="form-control" type="date" id="" name=""></span></td>
   <td class="donn"><input class="form-control" type="date" id="" name=""></span></td>
   <td class="donn text-center"></span><a href=""><i class="text-danger fa-solid fa-circle-plus fa-2xl"></i></a></td>
  </tr>
  </table>
</form>

<form id="certificat">
  <table class="tabel ms-4 mt-5 border table-bordered" width="80%" >
  <tr >
   <th class="bg-success inf ">Nom de Certificat</span></th>
   <th class="bg-success inf ">Description</span></th>
   <th class="bg-success inf ">Certificat (fichier)</span></th>
   <th class="bg-success inf ">Date d'obtention</span></th>
   <th class="bg-success inf "></span></th>
  </tr>
  <tr>
   <td class="donn"><input class="form-control" type="text" id="" name=""></span></td>
   <td class="donn"><input class="form-control" type="text" id="" name=""></span></td>
   <td class="donn col-3"><input class="form-control" type="file" id="" name=""></span></td>
   <td class="donn"><input class="form-control" type="date" id="" name=""></span></td>
   <td class="donn text-center" ></span><a href=""><i class="text-danger fa-solid fa-circle-plus fa-2xl"></i></a></td>
  </tr>
  </table>
</form>
</main>
{% endblock %}
