<form method="post" action="{{ path('app_parametres_delete', {'id': parametre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parametre.id) }}">
    <button class="btn">Delete</button>
</form>
