{% extends 'base.html.twig' %}

{% block title %}paramètres
{% endblock %}

{% block body %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/param.css') }}"/>
{% endblock %}
	{% block breadcrumb %}
    <nav class="navbar navbar-light bg-light border" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_cv_list') }}">Liste des CV</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Paramètres</li>
			</ol>
		</nav>
	{% endblock %}
	<div class="row m-2 m-5">
		<h4 class="h4">
			Notification
		</h4>
		<form action="" class="">
			<table class="col-6">
				<tr class="col-2">
					<td>
						<label for="active" class="form-label text-align-center">
							Active
						</label>
					</td>
					<td>
						<div class="form-check  col-8">
							<input class="form-control form-check-input m-1" type="checkbox" value="" id="active">
						</div>
					</td>
				</tr>
				<tr class="col-2">
					<td class="col-4">
						<label for="MailNotif" class="form-label">Mail de notification</label>
					</td>
					<td>
						<div class="col-6 m-1 d-flex">
							<input type="text" id="delai" class="form-control  mx-4">
						</div>

					</td>
				</tr>
				<tr class="col-2">
					<td class="col-4">
						<label for="delai">Délai de notification
						</label>
					</td>
					<td>
						<div class="col-4 m-1 d-flex">
							<input type="text" id="delai" class="form-control  mx-4">
							<div class="mt-2">mois</div>
						</div>
					</td>
				</tr>
			</table>

			<h4 class="mt-5 h4">
				Email
			</h4>
			<table class="align-middle col-4 table ">
				<tr>
					<td class="col-4">
						<label for="" class="form-label text-align-center">Objet
						</label>
					</td>
					<td class="col-8 email">
						<input type="text" class="form-control form-control-sm">
					</td>
				</tr>
				<tr>
					<td class="col-4">
						<label for="content">Contenu</label>
					</td>
					<td class="col-8 email">
						<textarea name="" rows="4" id="content" class="form-control form-control-sm"></textarea>
					</td>

				</tr>

			</table>

			<div class="form-group d-flex flex-row-reverse m-2">

				<button class="btn btn-outline-success form-control-sm m-5">{{ button_label|default('Enregistrer') }}</button>

			</div>
		</form>
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
