{% extends 'base.html.twig' %}

{% block title %}Certificat index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dataTable.css') }}"/>
{% endblock %}
{% block body %}

	{% block breadcrumb %}
		<nav class="navbar navbar-light bg-light border" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_cv_list') }}">Liste des CV</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a>Liste des Certif</a>
				</li>
			</ol>
		</nav>
	{% endblock %}
	<div class="bg-light border border-success m-5">
		<form>
			<div class="form-group row">
				<div class="col-3 m-3">
					<input type="text" class='form-control form-control' placeholder='Collabrateur'>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-3 m-3">
					<input type="text" class='form-control form-control' placeholder='Certificat'>
				</div>
			</div>
			<div class="form-group d-flex flex-row-reverse m-2">
				<button class="btn btn-outline-success">Rechercher</button>
			</div>

		</form>
	</div>
	<div class="main container-fluid d-flex justify-content-center align-items-center mt-5">
		<div class="row col-12">
			<div class="col-sm-12">
				<table id="example" class="display table" style="width:100%">
					<thead>
						<tr class="navb">
							<th>Collaborateur</th>
							<th>Nom de certificat</th>
							<th>Description</th>
							<th>Date d'obtention de Certificat</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{# % for certificat in certificats %}
																								            <tr class="donn">
																								                <td></td>
																								                <td>{{ certificat.NomCertif }}</td>
																								                <td>{{ certificat.Description }}</td>
																								                <td>{{ certificat.DateCertif ? certificat.DateCertif|date('Y-m-d') : '-' }}</td>
																								                <td>
																								                    <a href=""><img src="https://img.icons8.com/plasticine/30/000000/download.png"/></a>
																								                </td>
																								            </tr>
																								        {% else %}
																								            <tr>
																								                <td colspan="5">no records found</td>
																								            </tr>
																								        {% endfor % #}

						<tr class="donn">
							<td>Siham</td>
							<td>Scrum</td>
							<td>PO Scrum</td>
							<td>12-12-2015</td>
							<td>
								<a href=""><img src="https://img.icons8.com/plasticine/30/000000/download.png"/></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	{#<!--<a class="btn position-absolute" style="left:92%;top:30%" href="{{ path('app_certificat_new') }}"><img src="https://img.icons8.com/ios-filled/50/000000/add-user-male.png"/></a>-->#}

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/DataTable.js') }}"></script>
{% endblock %}
